.container {
  background-color: pink;
  width: 600px;
  height: 275px;
  margin: auto;
  padding: 50px;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
